// button{
//     width: 100px;
//     height: 40px;
//     display: block;
//     margin-top: 20px;
// }

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);  
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin: 25px 150px;
    background-color: rgb(255, 255, 255);

}

.mid-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 1;
    margin: 25px 150px;
    background-color: rgb(255, 255, 255);
}

.recom{
     width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 1;
    margin: 25px 150px;
    background-color: rgb(255, 255, 255);
  

}

.foot{
    float: left;
    width: 100%;
    height: 367px;
    margin: 0px 250px 80px;
   

}
.copyright{
    width: 100%;
    text-align: center;
    float: left;
    margin-left: 250px;
}

