.log-buttons{
    
    // width: fit-conent;
    margin: 25px ;
    // text-align: right;
}
.signup{
    // margin-left: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 14px;
    border: 0px;
    width: 100px;
    background-color: white;

}
.signin{
    margin-left: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 14px;
    width: 100px;
    background-color: rgb(180, 209, 136);
    border: 0px;
    color: rgb(47, 80, 16);

}