
.menu{
    float: left;
    width:auto%;
    height: auto;
    background-color: white;
    margin: 25px 0px; 
    padding: 5px;
    text-align: left;
    // background-color: rgb(243, 253, 240);
    border: 0px;

}
.menu a{
    margin-left: 90px;
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    float: left;
 
}

