.left{

    height: auto;
    padding: 8px;
    text-align: left;
    background-color: #ffffff;

}
.first-text{
    width: 373px;
    height: auto;
    font-family: GT Walsheim pro;
    font:700 48px bold;
    margin-left: 100px;

    span{
        color: green;
    }
    
}
.second-text{
    width: 500px;
    font: 400 16px #3F403F;
    margin-left: 100px;
}