.partners{
    display: inline;
    margin: 50px;
    margin-left: 100px;
    float:left;

    p{
        width: 100%;
        font-weight: bold;
    }

    .google{
        margin-left: 30px;
    }

    .kmpg{
        margin-left: 30px;
    }
}