.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80%;
    margin: auto auto;

    h1{
        font-size: 36px;
        color: #d64f4f;
    }
    .links{
        display: flex;
        gap: 20px;

        a{
            text-decoration: none;
            color: #333;
            font-size: 18px;
            transition: color 0.3s;

            &:hover{
                color: #d64f4f;
            }
        }
    }

}