.nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(255, 251, 251);
     border-radius: 25px;
}

.logo{
    margin-left: 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left:400px;
   

    div{
        margin-left: 30px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.call{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-left: 100px;

    .call-icon{
        height:40px;
        width: 40px;
        background-color: none;
    }

    .call-text{
        margin-left: 15px;
    }
}

.top-button{
    margin-left: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(255, 232, 30);
    border-radius: 25px;
    border: none;
}
