.product-texts{
    float: left;
    margin-left: 190px ;
    font-size: 2em;
    font-weight: bold;
    text-align: left;

    span{
        font-size: 12px;
        background-color: white;
        border-radius: 25px;
        width: fit-content;
        padding: 10px;
    }

}

.product-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    gap: 50px;
    height: auto;
    width: fit-content;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 30px;
        padding: 5px;

        span{
            color: rgb(150, 197, 63);
        }

        .cat{
            width: 50px;
            height: 50px;
            margin-left: 82%;
            border: 15px solid rgb(247, 246, 244);
            background-color: rgb(247, 246, 244) ;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .product-texts{
        float: none;
        margin-left: 0;
        text-align: center;
        font-size: 1.5em;
    }
    .product-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .product-texts{
        margin-left: 0;
        text-align: center;
    }

    .product-container div{
        width: 100%;
        align-items: center;
    }

    .product-container div .cat{
        margin-left: 0;
    }
    
}