.des{
    display:flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    gap:40px;
    border-bottom: thin solid rgb(248, 238, 238);
    padding: 20px;
    text-align: center;
    margin: 30px auto;

    div{
        width: 325px;
        height:auto;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            width: 90px;
            height: 90px;
        }

        p{
            margin-left: 20px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 14px;

            span{
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .des{
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .des div{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .des div img{
        margin-bottom: 10px;
    }

    .des div p{
        font-size: 16px;
    }
    
}